// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// AdMob App ID
ADMOB_APP_ID = ca-app-pub-2376879364145932~4174187299

// Other common settings
PRODUCT_BUNDLE_IDENTIFIER = com.formsandlists.app
MARKETING_VERSION = 1.0.0
CURRENT_PROJECT_VERSION = 1
DEVELOPMENT_TEAM = $(DEVELOPMENT_TEAM) 